*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 0 auto;
}

a{
	color: #386FA9;
	text-decoration: none;
	-moz-transition: color 250ms;
	-webkit-transition: color 250ms;
	transition: color 250ms;
}

a:hover{
	color: #555;
}

p{
	line-height: 1.25;
}

ul{
	list-style-type: none;
}

section{
	margin-bottom: 40px;
	overflow: hidden;
}

h1, h2, h3, h4{
	font-weight: 300;
}

h1{
	background: #386FA9;
	color: #fff;
	font-size: 36px;
	margin-bottom: 30px;
	padding: 5px 15px;
}

#info{
	clear: both;
	line-height: 1.5;
}

#info dt{
	float: left;
	margin-right: 10px;
}

#info dl{
	float: left;
	margin-right: 20px;
	width: 250px;
}

#resume > section > h2{
	background: #386FA9;
	color: #fff;
	padding: 5px 10px;
}

#resume > section > ul > li{
	margin-bottom: 30px;
}

#resume > section > ul > li .date{
	color: #555;
	float: right;
	font-size: 16px;
	margin-top: 2px;
}

#resume > section > ul > li .location{
	color: #777;
	display: block;
	font-size: 16px;
}

#resume > section > ul > li h3{
	margin-bottom: 5px;
}

#work > ul ul{
	clear: both;
}

#work > ul ul li{
	margin-bottom: 5px;
}

#interests{
	line-height: 1.5;
}

#interests ul li{
	display: inline;
}

#interests ul li::after{
	content: ',\00A0';
}

#interests ul li:last-child::after{
	content: normal;
}

/* Desktop */
@media only print, screen and (min-width: 768px){
	html{
		border-top: 4px solid #386FA9;
	}

	body{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		max-width: 960px;
		padding: 0 20px;
	}

	h1{
		float: left;
	}

	section{
		position: relative;
	}

	#resume > section > h2{
		font-size: 22px;
		left: 0;
		position: absolute;
		top: 0;
	}

	#resume > section > ul{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: 260px;
	}

	#resume > section > ul > li{
		position: relative;
	}

	#resume > section > ul > li h3{
		font-size: 18px;
	}

	#resume > section > ul aside{
		left: -260px;
		position: absolute;
		top: 150px;
		width: 180px;
	}

	#resume > section > ul ul{
		list-style-type: disc;
		margin-left: 18px;
	}

	#work .position::after{
		content: ',';
	}

	#work .position:last-child::after{
		content: normal;
	}
}

/* Mobile */
@media only screen and (max-width : 767px){
	#info{
		margin: 0 10px 40px;
	}

	h2{
		margin-bottom: 10px;
	}

	#resume > section > ul{
		margin: 10px;
	}

	#resume > section > ul > li ul{
		list-style-type: disc;
		margin: 0 10px 0 20px;
	}

	#work aside{
		margin: 15px 0;
	}

	#work aside small{
		margin-right: 10px;
	}

	#work h3 span{
		display: block;
	}
}
